<nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto" href="#">2B<span>Travel</span></a>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav ml-auto">
         <li class="nav-item active"> <a class="nav-link" href="#myCarousel">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="#benefits">Benefits</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#gallery">Image Gallery</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact">Booking</a> </li>
        </ul>
      </div>
            </div>
    </nav>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>


        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/images/img1.png" width="1100" height="500">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/img2.png" width="1100" height="500">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/img3.png"  width="1100" height="500">
          </div>
        </div>


        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>



<section class="service-sec" id="benefits">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
      <h2><small>Benefits of 2BTravel</small>Plan your dream holidays with us</h2>
    </div>
        </div>
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <h3>50% OFF</h3>
          <p>If you love travel, but your wallet says stay home, don't worry. We have a solution for you. With our off-season offer of 50% off, you can now enjoy a well-spent holiday, for a budget-friendly price</p>
        </div>
        <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-calendar" aria-hidden="true"></i>
          <h3>6 WEEK DURATION</h3>
          <p>Not-too-short nor Not-too-long. Just the right amount of time to relax and enjoy the beauty of the Pearl of Indian ocean while visiting most popular tourist attractions in the country.</p>
        </div>
        <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-plane" aria-hidden="true"></i>
          <h3>AIRPORT PICKUP</h3>
          <p>From pick up to drop off, we have arranged all your transportation needs. All your trips are well planned and pre-discussed with you to give maximum comfort and luxury we can offer</p>
        </div>
        <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-home" aria-hidden="true"></i>
          <h3>FOOD & ACCOMADATION</h3>
          <p>We guarantee all of your nights are spent in relaxing and comfortable environment, in hotels with more than 4 stars. The food served to you will always have the rich touch of Sri Lanka while being healthy and tasty at the same time.</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small>WE ARE TRAVELERS</small>ABOUT US
        </h2>
      </div>
      <div class="col-md-6">
        <p>We are a part of the Travel.com Group,Our Company since 2003 with over 45,100 employees and over 400 million members, making it one of the leading online travel agencies in the world.

          With more than 1.2 million hotels in 200 countries and regions, we've built an extensive hotel network to give our customers a fantastic choice of accommodation. Our far-reaching flight network has over 2 million individual flight routes connecting more than 5,000 cities around the globe. When you combine this with our 24/7 English customer service and various other travel products, you can trust us to take care of your next trip.
           </p>
        <p>This website is operated by programus.com (London) Limited, ("Travel.com"), a London entity duly incorporated and registered in UK. This is part of the Travel.com Group.</p>
      </div>
      <div class="col-md-3">
        <div class="text-center center-block">
          <p>2BTravel</p>
          <br />

            <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>

        </div>
        <div class="text-center center-block">
          <p><a href="#" class="btn btn-transparent-white btn-capsul">Mobile App Download Here</a></p>
        </div>

      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
